<!DOCTYPE html>
<html lang="es">

<head>
    <!-- ################################################################################### -->
    <!-- Head -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IA.Med Landing Page">
    <meta name="author" content="DATAPULSE SAS">
    <link rel="apple-touch-icon" sizes="76x76" href="static/home/img/apple-icon_2.png">
    <link rel="icon" type="image/png" href="static/home/img/favicon_2.png">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="static/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/home/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="static/home/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="static/home/css/new-age.css" rel="stylesheet">
    <!-- ################################################################################### -->
    <!-- Head -->
</head>

<body id="page-top">
    <!-- ################################################################################### -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            {% block nav %}{% endblock %}
        </div>
    </nav>
    <!-- ################################################################################### -->
    <!-- Navigation -->

    {% block body %}{% endblock %}


    <!-- ################################################################################### -->
    <!-- footer -->
    <footer>
        <div class="container">
            <p>Copyright &copy; DATAPULSE 2020. Todos los derechos reservados.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" data-toggle="modal" data-target="#terminosModal">Terminos</a>
                </li>
                <li class="list-inline-item">
                    <a href="#" data-toggle="modal" data-target="#privacidadModal">Privacidad</a>
                </li>
                <li class="list-inline-item">
                    <a href="#" data-toggle="modal" data-target="#faqModal">FAQ</a>
                </li>
            </ul>
            <a href="http://www.datapulse-opt.com" target="_blank">Powered by DATAPULSE SAS</a>
        </div>

        <!-- Modal Privacidad -->
        <div class="modal fade" id="privacidadModal" tabindex="-1" role="dialog" aria-labelledby="privacidadModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="color:black; font-weight:bold;">Politica de Privacidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" >
                    <p style="color:black;" class="text-justify">
                    De conformidad con lo dispuesto en la normativa aplicable de protección de datos de carácter personal, 
                    el usuario queda informado de los siguiente:</br>
                    </br>
                    <spam style="font-weight:bold;">¿Quién es el responsable del tratamiento de tus datos?</spam></br>
                    DATAPULSE S.A.S., con domicilio en Bogotá, barrio Cortijo, Diagonal 89b 118-45 oficina
                    9-301.</br>
                    </br>
                    <spam style="font-weight:bold;">¿Con qué finalidad tratamos tus datos personales?</spam></br>
                    Tus datos personales son utilizados, exclusivamente, para la remisión de comunicaciones
                    periódicas con noticias de interés de DATAPULSE S.A.S. y de otras noticias relevantes
                    del sector.</br>
                    </br>
                    <spam style="font-weight:bold;">¿Por cuánto tiempo conservamos tus datos?</spam></br>
                    Los datos personales proporcionados se conservarán mientras que se mantenga la
                    relación, no se solicite su supresión por el interesado y no deban eliminarse por ser
                    necesarios para el cumplimiento de una obligación legal o para la formulación, ejercicio y
                    defensa de reclamaciones.</br>
                    </br>
                    <spam style="font-weight:bold;">¿Se comunican tus datos a terceros?</spam></br>
                    No. DATAPULSE S.A.S. no comunica tus datos a terceros ajenos.</br>
                    </br>
                    <spam style="font-weight:bold;">¿Cómo DATAPULSE S.A.S. ha obtenido tus datos?</spam></br>
                    Los datos han sido facilitados por el interesado al darse de alta en el sistema de
                    comunicaciones. Legitimación para el tratamiento de los datos personales DATAPULSE S.A.S., 
                    se encuentra legitimada para llevar a cabo el tratamiento de los
                    datos personales en base a que:</br>
                    </br>
                    1. El usuario: cliente/proveedor/usuario de la web, etc, ha aportado sus datos personales
                        para relaciones precontractuales o contractuales o simplemente para recibir información.</br>
                    2.  El usuario ha prestado su consentimiento informado para el envío de comunicaciones
                        comerciales, para la instalación de sistemas de seguimiento que informan sobre hábitos 
                        de navegación según la política de cookies, o para el envío de información requerida a
                        través de los diferentes formularios de la web.</br>
                    3.  Existen obligaciones legales que requieren del tratamiento de los datos personales, de
                        acuerdo con los servicios prestados.</br>
                    </br>
                    <spam style="font-weight:bold;">¿Cuáles son tus derechos al facilitarnos tus datos?</spam></br>
                    Cualquier persona tiene derecho a obtener confirmación sobre si en DATAPULSE S.A.S.
                    estamos tratando datos personales que te conciernan, o no.
                    Las personas interesadas tienen derecho a acceder a sus datos personales, así como a
                    solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando,
                    entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.
                    En determinadas circunstancias y por motivos relacionados con su situación particular, los
                    interesados podrán oponerse al tratamiento de sus datos. DATAPULSE S.A.S. dejará de
                    tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de
                    posibles reclamaciones.</br>
                    </br>
                    Dicha oposición podrá realizarse a través del correo electrónico info@datapulse-opt.com o
                    en la siguiente dirección diagonal 89b 118-45 oficina 9-301.
                    </p>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Terminos -->
        <div class="modal fade" id="terminosModal" tabindex="-1" role="dialog" aria-labelledby="terminosModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="color:black; font-weight:bold;">Terminos y Condiciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" >
                    <p style="color:black;" class="text-justify">
                        <spam style="font-weight:bold;">1. Introducción</spam></br>
                        </br>
                        Los presentes términos y condiciones tienen por objeto establecer y regular las
                        condiciones de acceso y uso general al SITIO WEB y/o APP así como a los distintos
                        contenidos y servicios prestados por DATAPULSE S.A.S, o por terceros desde y/o a
                        través del mismo. En este último caso, cuando los contenidos y servicios no estén
                        hospedados en la Aplicación de DATAPULSE S.A.S no se hace responsable por los
                        mismos.</br>
                        </br>
                        El uso de I.A MED, en adelante la “Aplicación” está sujeto a lo estipulado en el presente
                        documento de Términos y Condiciones de Uso, en adelante las “Condiciones de Uso”, las
                        que deberán ser cumplidas por los usuarios (en adelante “Usted”, el “Suscriptor” o el
                        “Usuario”).</br>
                        </br>
                        Por el sólo hecho del uso de la Aplicación, el Usuario expresa la adhesión plena y sin
                        reservas a todos y cada uno de los términos, condiciones y estipulaciones de las
                        Condiciones de Uso. En caso que el Usuario no esté de acuerdo con la totalidad de lo
                        establecido en ellas, no estará autorizado para acceder a la información o contenidos de
                        la Aplicación.</br>
                        </br>
                        Las Condiciones de Uso podrán ser modificadas o adaptadas a cambios legislativos,
                        prácticas generales de la industria, o políticas de DATAPULSE S.A.S. En este caso,
                        DATAPULSE S.A.S anunciará los cambios introducidos, con la antelación necesaria a su
                        puesta en práctica.</br>
                        </br>
                        Al utilizar la Aplicación, Usted acepta recibir comunicaciones acerca de temas referidos a
                        su suscripción. Estas comunicaciones pueden incluir el envío de correos electrónicos a la
                        dirección de e-mail indicada durante el registro, el envío de mensajes de texto al teléfono
                        celular señalado en el registro, que incluirán avisos acerca de su cuenta (autorizaciones
                        de pago, cambio de contraseña o de forma de pago, e-mail de confirmación y otra
                        información relativa a las transacciones), que forman parte de su relación con la Empresa.</br>
                        </br>
                        Adicionalmente, Usted acepta recibir comunicaciones de nuestra parte, como nuevas
                        características y contenidos de la Aplicación, ofertas especiales, anuncios promocionales
                        y encuestas de satisfacción por e-mail o por otra vía. Si ya no desea que le enviemos
                        comunicaciones que no son relativas a las transacciones, podrá solicitar que se le elimine
                        de la lista de destinatarios de este tipo de comunicaciones, a través de un correo dirigido
                        a la dirección que se indique para tal efecto.</br>
                        </br></br>
                        <spam style="font-weight:bold;">2. Materiales y Derechos Reservados</spam></br>
                        </br>
                        En adelante los “Materiales”, incluyen cualquier clase de contenido, como por ejemplo, y
                        sin estar limitado a ello, textos, fotografías, gráficos, ilustraciones, música y sonidos,
                        archivos de sonido o imagen, grabación, nombres, logos, marcas, software, etc. Los
                        Materiales son de propiedad de DATAPULSE S.A.S o de terceros licenciantes, y se
                        encuentran protegidos bajo la legislación nacional y los tratados internacionales vigentes
                        sobre propiedad intelectual e industrial ratificados por Colombia. El contenido y los
                        Materiales no podrán ser retransmitidos a terceros o publicarse sin autorización expresa
                        de DATAPULSE S.A.S.</br>
                        </br>
                        Todos los derechos, incluidos los de Propiedad Intelectual e Industrial, pertenecen a
                        DATAPULSE S.A.S. y están protegidos por las leyes nacionales e internacionales de
                        propiedad intelectual. Al suscribirse a la Aplicación, el Usuario podrá utilizar los servicios
                        ofrecidos por la Aplicación, siguiendo las respectivas instrucciones y realizando los pagos
                        correspondientes.</br>
                        </br>
                        Asimismo, el Usuario no está autorizado para usar ningún software de control de redes o
                        de cualquier otra clase, con el objeto de determinar la arquitectura de la Aplicación,
                        extraer información sobre su uso, sobre identidades o usuarios. No está autorizado para
                        usar robots, spiders, o cualquier otra clase de software o dispositivo automático, o
                        proceso manual, para controlar o copiar la Aplicación o su contenido, sin previa
                        autorización otorgada, por escrito, por DATAPULSE S.A.S.</br>
                        </br></br>
                        <spam style="font-weight:bold;">3. Características del Servicio ofrecido</spam></br>
                        </br>
                        * La Aplicación es una herramienta tecnológica basada en Inteligencia Artificial la
                        cual proporciona un diagnóstico preliminar de acuerdo a imágenes biomédicas y/o
                        signos vitales que permiten corroborar el diagnóstico de los médicos.</br></br>
                        * Esta herramienta no ofrece asesoramiento médico ni de un radiólogo
                        especializado, únicamente tiene fines informativos enfocados a apoyar el
                        diagnóstico de los médicos.</br></br>
                        * No la use para sustituir el consejo médico profesional, diagnóstico o tratamiento.</br></br>
                        * Si la consulta es realizada por un no medico profesional y cree que puede tener
                        una emergencia médica, llame inmediatamente a su médico o a emergencias.</br></br>
                        * La confidencialidad de sus datos es importante para nosotros. Cumplimos con las
                        normativas de protección de datos establecidas.</br></br>
                        * Para más información, lea detalladamente los términos y condiciones legales.</br>
                        </br>
                        Aun cuando el propósito de la aplicación es proporcionar un diagnóstico médico frente a la
                        situación de un paciente o él dictamen frente a una imagen biomédico, el dictamen final
                        será el de un médico.</br>
                        </br>
                        Para el cumplimiento de lo anterior, la Aplicación incluye y hace uso de ciertas
                        herramientas proporcionadas por proveedores externos, que permiten a la Aplicación
                        otros contenidos de Google, como Google cloud. El uso que Usted haga de los servicios
                        de Google está sujeto a los términos de uso de Google, Google cloud y por su uso, Usted
                        acepta lo establecido en ellos.</br>
                        </br>
                        El usuario queda enterado y acepta con el simple ingreso, navegación y/o registro en el
                        Sitio que cualesquier contenidos e información de índole sanitario y/o de salud contenida
                        en el SITIO WEB y/o APP tiene carácter meramente informativo y NO CONSTITUYE EN
                        NINGÚN CASO UN SERVICIO DE DIAGNÓSTICO MÉDICO, DE PRESCRIPCIÓN DE
                        TRATAMIENTOS FAMACOLÓGICOS. Se advierte y pone en conocimiento del usuario,
                        que la información y/o contenidos del SITIO WEB y/o APP NO puede en ningún caso
                        sustituir la consulta presencial personal frente a un profesional y/o facultativo médico
                        debidamente cualificado conforme a la legislación colombiana vigente.</br>
                        </br>
                        DATAPULSE S.A., declara explícitamente que la información de salud proporcionada en
                        el SITIO WEB y/o APP (textos, vídeos, tratamientos, tablas, gráficos, fotografías,
                        imágenes, consejos, mensajes y cualquier otro material) tiene únicamente un fin
                        informativo y, en ningún caso, sustituye el consejo médico, incluso en el caso de ser un
                        médico identificado en el SITIO WEB y/o APP quien proporcione dicha información,
                        siendo el SITIO WEB o APP un mero y simple intermediario de información.
                        Sugeridamente El Usuario, deberá consultar SIEMPRE a su médico, hablar con él o
                        acudir a su consulta para cualquier duda de salud que pueda tener. En ningún caso, la
                        lectura de la información vertida en este SITIO WEB, APP debe hacer y/o de cualquier
                        manera determinar la idea según la cual deba retrasarse la consulta directa y personal
                        con un médico y/o facultativo conforme a la ley colombiana, ni hacer caso omiso de sus
                        recomendaciones.</br>
                        </br></br>
                        <spam style="font-weight:bold;">4. Exclusión de Responsabilidad respecto a Enlaces Externos</spam></br>
                        </br>
                        La Aplicación puede contener enlaces a aplicaciones web de terceros no relacionados con
                        DATAPULSE S.A.S., por tanto, no es responsable por las acciones
                        de estos terceros, incluyendo sus prácticas de privacidad y cualquier contenido publicado
                        en sus Aplicaciones web. Se invita a los Usuarios a revisar esas políticas de privacidad
                        para saber sobre qué, por qué y cómo ellos recolectan y usan la información personal.</br>
                        </br>
                        La Aplicación puede contener avisos y patrocinios. Los anunciantes y patrocinadores son
                        responsables de asegurar que el material incluido en la Aplicación sea fiel a su original y
                        que no contravenga al ordenamiento jurídico aplicable. Ni DATAPULSE S.A.S., ni la
                        Aplicación no se responsabilizan de cualquier acto u omisión arbitraria o ilegal, de los
                        anunciantes y patrocinadores, ni de cualquier error o imprecisión del material
                        proporcionado por éstos.</br>
                        </br></br>
                        <spam style="font-weight:bold;">5. Política de Privacidad</spam></br>
                        </br>
                        Los Datos Personales consisten en aquella información que se solicita al Usuario cuando
                        éste accede a la Aplicación al momento de su registro. La Política de Privacidad no
                        protege:</br>
                        </br>
                        * Los Datos Personales que el Usuario proporcione a la Aplicación que no son de
                        propiedad de DATAPULSE S.A.S., aunque se haya accedido a ellos mediante enlaces
                        (links) que aparezcan en la Aplicación de DATAPULSE S.A.S. Es responsabilidad del
                        Usuario informarse sobre las políticas de privacidad aplicables a los sitios web enlazados.</br></br>
                        * La información sobre actividades y preferencias del Usuario que no identifican
                        personalmente al Usuario, y que se obtiene mediante el envío de cookies y otras formas
                        que permiten el análisis del tráfico de información.</br>
                        </br>
                        El Usuario se obliga a proporcionar información verdadera, fidedigna, completa y
                        actualizada tanto en el proceso de registro, como cuando así sea requerido en o a través
                        de la Aplicación. El Usuario es responsable de toda la información, documentos,
                        contenido, productos u otros que transmita o publique por cualquier medio. Por lo anterior,
                        DATAPULSE S.A.S se reserva el derecho a cancelar su suscripción en caso de
                        incumplimiento de lo anterior.</br>
                        </br>
                        El usuario se obliga a respetar los derechos de autor y de propiedad industrial de
                        DATAPULSE S.A.S., y de terceros sobre los, signos distintivos, contenidos, información y
                        servicios prestados desde o a través del SITIO WEB, absteniéndose con carácter general
                        de reproducir, copiar, distribuir, reproducir, comunicar en forma alguna los mismos a
                        terceros, o de cualquier manera usar en su provecho o en provecho de terceros, siempre
                        que no medie autorización expresa y por escrito de DATAPULSE S.A.S., o de los
                        titulares de dichos derechos.</br>
                        </br>
                        El Usuario será el único responsable frente a cualquier reclamación, acción legal, judicial
                        o extrajudicial, iniciada por terceras personas tanto contra el propio Usuario como contra
                        DATAPULAE S.A.S., basada en usos de los servicios contrarios a la ley, la moral, la
                        buena fé y a las buenas costumbres generalmente aceptadas.</br>
                        </br></br>
                        <spam style="font-weight:bold;">6. Entrega de Información a Terceros</spam></br>
                        </br>
                        DATAPULSE S.A.S., resguarda la seguridad de los Datos Personales y adopta todos los
                        medios y técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no
                        autorizado y robo de los Datos Personales de los Usuarios. Sin perjuicio de esto, se recuerda 
                        a los Usuarios que, como en todas las acciones online, es posible que terceros
                        puedan ilegalmente interceptar trasmisiones de información personal, u otros Usuarios de
                        la Aplicación puedan usar erróneamente o abusar de información personal que ellos
                        puedan recolectar desde el Aplicación.</br>
                        </br>
                        El Usuario acepta que DATAPULSE S.A.S., revele los Datos Personales si es requerido a
                        hacerlo por mandato legal, por una orden judicial o, en el caso de que el Usuario infrinja
                        las Condiciones de Uso del Aplicación, y en aquellos casos en que sea imprescindible
                        para defender los derechos de DATAPULSE S.A.S, de otros Usuarios o de terceros.
                        La Aplicación y DATAPULSE S.A.S no venden, ceden ni transfieren, a ningún título, los
                        Datos Personales a terceros. DATAPULSE S.A.S solamente podrá ceder los Datos
                        Personales de los Usuarios a las entidades afiliadas a DATAPULSE S.A.S, salvo que el
                        Usuario niegue expresamente su autorización, y siempre con pleno respeto a la normativa
                        legal que rige en Colombia.</br>
                        </br>
                        Sin perjuicio de lo anterior, DATAPULSE S.A.S puede ceder, bajo obligación de
                        confidencialidad, los Datos Personales a otras personas en los siguientes casos: </br> </br>
                        a) Si el Usuario consiente anticipadamente en que se cedan sus Datos Personales a
                        terceros; </br> </br>
                        b) Si es imprescindible para que el Usuario reciba el servicio o producto que haya
                        solicitado; y, </br> </br>
                        c) Si las personas a las que se ceden los Datos Personales, ofrecen servicios
                        complementarios o relacionados con los servicios o contenidos de la Aplicación, y
                        DATAPULSE S.A.S considera que el Usuario puede tener interés en recibir información
                        respecto de los productos y servicios que ofrezcan dichas personas.</br>
                        </br>
                        DATAPULSE S.A.S pedirá el consentimiento del Usuario antes de utilizar sus Datos
                        Personales para cualquier fin distinto de los establecidos en el presente apartado de
                        Política de Privacidad.</br>
                        </br></br>
                        <spam style="font-weight:bold;">7. Registro y uso de la Aplicación</spam></br>
                        </br>
                        DATAPULSE S.A.S., podrá condicionar el acceso a determinadas y específicas áreas y la
                        utilización de ciertos Servicios al previo y completo diligenciamiento del correspondiente
                        formulario de registro de Usuario, datos diligenciados por el usuario que DATAPULSE
                        S.AS., administrará para su propósito, quienes son autorizados por el usuario a través del
                        diligenciamiento completo de su registro, conforme a lo dispuesto en las normas vigentes
                        en materia de HABEAS DATA en Colombia (Ley 1581 de 2012 y normas que la
                        reglamenten).</br>
                        </br>
                        Una vez se complete satisfactoriamente el proceso de registro por parte del Usuario,
                        DATAPULSE S.A.S., podrá incorporar al Usuario en su base de datos de Usuarios
                        registrados, pudiendo utilizar dicha base de datos para el desarrollo de su objeto
                        conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en
                        Colombia (Ley 1581 de 2012 y normas que la reglamenten). Una cuenta será generada
                        con su dirección de correo electrónico y “palabra clave de acceso” asociada para cada
                        Usuario.</br>
                        </br>
                        DATAPULSE S.A.S., se reserva el derecho de negar el ingreso, acceso y/o registro en el
                        SITIO WEB y/o APP en cualquier momento y sin que deba mediar aviso, notificación,
                        justificación y/o explicación alguna. Esta negativa no comportará derecho a indemnización
                        alguna.</br>
                        </br>
                        Cualquier persona mayor de edad podrá descargar y registrarse en la Aplicación. Para
                        acceder a los servicios, será necesario el registro previo.
                        La Aplicación permite acceder a los siguientes servicios:</br></br>
                        a) Diagnóstico de imágenes biomédicas: consiste en un diagnostico preliminar basada en
                        algoritmos sobre imágenes biomédicas, este diagnóstico preliminar debe ser validado por
                        un médico o profesional de la salud para su dictamen final al paciente.</br></br>
                        b) Predicción de hospitalización: predicción de hospitalización de los diversos pacientes
                        que llegan a los departamentos de emergencia.</br></br>
                        La Aplicación asegura a los usuarios:</br>
                        – Que los las imágenes biomédicas utilizadas para el modelo de entrenamiento del
                        algoritmo son veraces y poseen el diagnóstico de un radiólogo.</br>
                        – La Aplicación ha sido validada previamente por un médico.</br>
                        </br>
                        Es responsabilidad del Usuario registrado informar a DATAPULSE S.A.S., sobre
                        cualquier cambio en la información proporcionada al momento del registro, tanto para
                        efectos comerciales como de contacto y comunicación.</br>
                        </br>
                        Usted puede cancelar su registro a la Aplicación cuando lo desee.</br>
                        </br>
                        El usuario se compromete a custodiar, proteger y preservar los datos correspondientes a
                        el “usuario” y la “palabra clave de acceso” otorgados por DATAPULSE S.A.S., a el
                        Usuario con ocasión del diligenciamiento de su registro y/o de los formularios dispuestos
                        respectivamente por el sitio, impidiendo el acceso de terceras personas no autorizados a
                        las mismos y por tanto asegurando su confidencialidad.</br>
                        </br></br>
                        <spam style="font-weight:bold;">8. Cobro de los servicios</spam></br>
                        </br>
                        Al efectuar su registro en la Aplicación, el Usuario podrá optar por la suscripción de un
                        plan dentro de los ofrecidos o bien por solicitud directa a DATAPULSE S.A.S. En ambos
                        casos el Usuario deberá proporcionar un medio de pago admitido y válido.</br>
                        </br>
                        Tanto para el pago periódico del plan contratado, como el autorizado directamente por
                        DATAPULSE S.A.S., usted deberá contar con una tarjeta de débito o crédito vigente para
                        el pago en línea por PAYU. Para realizar el pago con factura en entidades bancarias, ésta
                        deberá ser solicitada previamente a DATAPULSE S.A.S., por los canales autorizados.</br>
                        </br>
                        En la Aplicación se informará, previamente al Usuario, tanto del valor y contenido de los
                        distintos planes ofrecidos.</br>
                        </br>
                        En el caso de los planes, el valor mensual de suscripción se cobrará automáticamente al
                        momento de registrarse, y en la misma fecha todos los meses a partir de entonces, salvo
                        que y hasta que el Usuario cancele su suscripción. El monto de la suscripción se cobrará
                        por completo al momento del pago mensual.</br>
                        </br>
                        De conformidad con las condiciones de transacción comercial vigente en Colombia
                        aplicables al Sitio, la edad mínima para el registro de usuario en el SITIO WEB y/o APP es
                        de 18 años de edad.</br>
                        </br>
                        DATAPULSE S.A.S., se reserva el derecho de cambiar y/o adecuar los tiempos de
                        facturación. Los pagos no son reembolsables, total ni parcialmente, una vez que el cargo
                        mensual se haya realizado.</br>
                        </br>
                        No obstante lo anterior, DATAPULSE S.A.S., en cualquier momento y por cualquier
                        motivo, podrá otorgar un reembolso, descuento, promoción u otra contraprestación, a
                        algunos de sus Suscriptores o a todos ellos; cuyo monto y la decisión de otorgarlos,
                        quedan sujetos a la única y total discreción de DATAPULSE S.A.S.</br>
                        </br></br>
                        <spam style="font-weight:bold;">9. Reembolso de los gastos incurridos por el Usuario</spam></br>
                        </br>
                        DATAPULSE S.A.S., no se hace responsable de los gastos incurridos por el Médico o el
                        paciente para la toma de imágenes biomédicas, la consulta o tratamiento por la cual sea
                        motivo de consulta el paciente.</br>
                        </br></br>
                        <spam style="font-weight:bold;">10. Acciones, competencia y legislación aplicable</spam></br>
                        </br>
                        DATAPULSE S.A.S., se reserva el derecho a investigar violaciones a los Términos y
                        Condiciones de Uso de la Aplicación, y de entablar toda acción que estime conveniente
                        en contra de quien resulte responsable, incluyendo, sin estar limitado a, denunciar ante
                        los organismos competentes o a terceros, cualquier actividad considerada ilegal o
                        clandestina, y a revelar cualquier información necesaria o útil para dichos organismos o
                        personas relacionadas con las fichas personales, direcciones de correos electrónicos,
                        historial, material enviado, direcciones IP e información de tráfico de los usuarios.</br>
                        </br>
                        Los presentes términos y condiciones se regirán e interpretarán en todos y cada uno de
                        sus extremos por la Ley Colombiana. Tanto DATAPULSE. S.A.S., como el Usuario se
                        comprometen a intentar resolver de manera amistosa cualquier desacuerdo que pudiera
                        surgir en el desarrollo de sus relaciones mercantiles y/o comerciales.</br>
                        </br></br>
                        <spam style="font-weight:bold;">11. Política De Cookies.</spam></br>
                        </br>
                        Uso de ‘cookies’: El SITIO WEB de DATAPULSE S.A.S., conforme a la costumbre
                        mercantil y a la costumbre incorporada al comercio electrónico, emplea ‘cookies de
                        sesión’ con la finalidad de permitir y facilitar la interacción del usuario con el mismo sitio.
                        Asimismo, los servicios de estadísticas –propios o ajenos-, empleados por el SITIO WEB
                        de DATAPULSE S.A.S. pueden emplear ‘cookies’ con la finalidad de establecer métricas
                        y patrones de uso del sitio. El acceso, uso, registro, y, en general, la simple navegación
                        por el SITIO WEB de DATAPULSE S.A.S., suponen necesariamente el consentimiento
                        del usuario a la utilización de “cookies” por parte de DATAPULSE S.A.S. y/o de sus
                        proveedores de servicios, conforme a lo dispuesto en las normas vigentes en materia de
                        HABEAS DATA en Colombia (Ley 1581 de 2012 y normas que la reglamenten).</br>
                        </br>
                        ¿Qué son las cookies? Una cookie es un archivo que se descarga en su ordenador al
                        acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras
                        cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su 
                        equipo y, dependiendo de la información que contengan y de la forma en que
                        utilice su equipo, pueden utilizarse para reconocer al usuario.</br>
                        </br>
                        ¿Qué tipos de cookies utiliza esta página web?</br>
                        * Cookies de análisis: Son aquéllas que, bien tratadas por nosotros o por terceros, nos
                        permiten cuantificar el número de usuarios y así realizar la medición y análisis
                        estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se
                        analiza su navegación en nuestra página web con el fin de mejorar la oferta de
                        productos o servicios que le ofrecemos.</br></br>
                        * Cookies publicitarias: Son aquéllas que, bien tratadas por nosotros o por terceros, nos
                        permiten gestionar de la forma más eficaz posible la oferta de los espacios
                        publicitarios que hay en la página web, adecuando el contenido del anuncio al
                        contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello
                        podemos analizar sus hábitos de navegación en Internet y podemos mostrarle
                        publicidad relacionada con su perfil de navegación.</br>
                        </br>
                        Usted puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la
                        configuración de las opciones del navegador instalado en su ordenador. En la función
                        “Ayuda” de la mayoría de los navegadores se indica cómo configurar su navegador para
                        que no acepte cookies, para que le notifique cada vez que reciba una nueva cookie, así
                        como para desactivar completamente todas las cookies. Además, puede deshabilitar o
                        eliminar datos similares utilizados por las extensiones (add-on) de los navegadores, como
                        las “Flash Cookies”, cambiando la configuración de dichas extensiones o visitando el sitio
                        web del fabricante.</br>
                        </br></br>
                        <spam style="font-weight:bold;">12. Validez y acuerdo completo</spam></br>
                        </br>
                        La declaración de nulidad o invalidez de cualquier estipulación contenida en los presentes
                        términos y condiciones, no afectará a la validez y eficacia de las demás cláusulas y
                        condiciones.</br>
                        </br>
                        Los presentes términos y condiciones de los servicios prestados por DATAPULSE S.A.S.,
                        a través del SITIO WEB constituyen el acuerdo total entre las partes, considerándose de
                        rango superior a cualquier acuerdo previo escrito o verbal, entendimiento, afirmación,
                        representación, negociación o propósito de acuerdo en relación con esta materia, previos.</br>
                    </p>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Privacidad -->
        <div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="faqModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="color:black; font-weight:bold;">Politica de Privacidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" >
                    <p style="color:black;" class="text-justify">
                    <spam style="font-weight:bold;">¿Quién es el responsable del tratamiento de tus datos?</spam></br>
                    DATAPULSE S.A.S., con domicilio en Bogotá, barrio Cortijo, Diagonal 89b 118-45 oficina
                    9-301.</br>
                    </br>
                    </p>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ################################################################################### -->
    <!-- footer -->


    <!-- ################################################################################### -->
    <!-- Bootstrap core JavaScript -->
    <script src="static/home/vendor/jquery/jquery.min.js"></script>
    <script src="static/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/home/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/home/js/new-age.min.js"></script>
    <!-- ################################################################################### -->
    <!-- Bootstrap core JavaScript -->
    <style>
        ol {
            padding: 0;
        }
    </style>

</body>

</html>