{% extends '/dashboard/base_dashboard.html' %}

<title>{% block title %}IA.Med IA.Torax Dashboard Page{% endblock %}</title>

{% block container %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">IA.Torax</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">IA.Torax</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Email campaign chart -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-md-5 text-center">
                <h1>RADIOGRAFIA DE TORAX</h1>
                <form method="POST" action="{{ url_for('chestXray_pred') }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="container-fluid">
                            {% if  main %}
                            <img id="image1" src="../../static/dashboard/images/healthcare-animation.gif"
                                class="img-fluid w-100" alt="ChestXray">
                            <label for="">Imagenes permitidas (*.png, *.jpg, *.jpeg, *.dcm)</label>
                            {% else %}
                            <img id="image1" src="../../static/uploads/chestXray/{{ filename }}" class="img-fluid w-100"
                                alt="ChestXray">
                            <label for="">Imagenes permitidas (*.png, *.jpg, *.jpeg, *.dcm)</label>
                            
                            {% endif %}
                        </div>
                        <br>
                        <div class="custom-file">
                            <input id="file1" class="custom-file-input" type="file" name="image">
                            <label for="file1" class="custom-file-label" id="file1-label"
                                style="display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%;">Seleccionar
                                imagen...</label>
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">ANALIZAR</button>
                </form>
                <br/><br/>
                {% if not main %}
                <div class="text-justify" style="font-size:75%;">
                        <h4><img src="static/home/img/apple-icon_2.png" alt="iamed"
                        style="width: 3%">  A tener en cuenta</h4>
                    <ol>
                        <li> 
                            Esta aplicación es una herramienta tecnológica basada en Inteligencia Artificial la cual proporciona 
                            un diagnóstico preliminar de acuerdo a imágenes biomédicas y/o signos vitales que permiten corroborar 
                            el diagnóstico de los médicos.
                        </li> 
                        <li> 
                            Esta herramienta no ofrece asesoramiento médico ni de un radiólogo especializado, únicamente 
                            tiene fines informativos enfocados a apoyar el diagnóstico de los médicos.
                        </li> 
                        <li> 
                            No la use para sustituir el consejo médico profesional, diagnóstico o tratamiento.
                        </li> 
                        <li> 
                            Si la consulta es realizada por un no medico profesional y cree que puede tener una emergencia médica, 
                            llame inmediatamente a su médico o a emergencias.
                        </li> 
                        <li> 
                            La confidencialidad de sus datos es importante para nosotros. Cumplimos con las normativas de protección 
                            de datos establecidas.
                        </li> 
                        <li> 
                            Para más información, lea detalladamente los términos y condiciones legales.
                        </li> 
                    </ol>
                </div>
                {% endif %}
            </div>
            <div class="col-md-7">
                {% if main %}
                <div class="container-fluid">
                    <h1 class="pb-2">¿Que es IA.Torax?</h1>
                <p style="font-size:110%;" class="text-justify"> IA.Torax es una aplicación que hace parte de IA.Med con la cual se pueden 
                hacer análisis tempranos sobre radiografías de tórax. Con IA.Torax se pueden hacer detección temprana de por lo menos 10 
                patologías presentes en el tórax humano, como por ejemplo Atelectasia, Consolidación, Neumonía, Neumotórax, entre otras. 
                Esta aplicación tiene la capacidad de detectar simultáneamente estas patologías y diagnosticar cual es la probabilidad que 
                el paciente padezca alguna o mas de una de estas enfermedades en menos de un minuto. IA.Torax más que una aplicación de 
                diagnostico es una herramienta para la toma de decisiones con la cual los profesionales de la salud podrán tomar decisiones 
                acertadas y a tiempo.</p>
                </div>
                <div class="container-fluid py-3">
                    <img src="static/dashboard/images/chestxray_2.jpg" alt="IA.Med Logo" style="width: 100%" />
                </div>
                <div class="container-fluid">
                    <h2 class="mt-2">¿Como empezar?</h2>
                    <p style="font-size:110%;" class="text-justify">Utilizar IA.Torax es muy fácil. Selecciona una radiografía de tórax 
                        que este en el formato adecuado y luego dale clic en el botón de analizar. IA.Torax analizará la imagen y te mostrara 
                        las probabilidades que el paciente tenga alguna de las 10 patologías y también diagnosticara cuales de esas patologías 
                        se debería poner más atención y hacer un estudio más profundo.</p>
                </div>
                <h2 class="text-center pt-4">IA.Torax es la mejor herramienta en <br><img src="static/home/img/apple-icon_2.png" alt="iamed"
                        style="width: 5%">
                    <span style="color: rgb(107, 206, 7);">DIAGNÓSTICOS CON RADIOGRAFÍAS DE TÓRAX!</span> </h2>
                {% else %}
                <h2 class="text-center py-2"><img src="static/home/img/apple-icon_2.png" alt="iamed"
                        style="width: 5%">  POSIBLES PATOLOGIAS</h2>
                {% if pad_preds == 'Sin Hallazgos'%}
                <p style="font-size: 18px;">
                Despues de un analisis detallado de la radiografia de torax, con ayuda del modelo de Machine learning, entrenado para
                esta aplicacion, se determino que no hay indicios de patolgias presentes en la radiografia.
                </p>
                {% else %}
                <p style="font-size: 18px;">
                Despues de un analisis detallado de la radiografia de torax, con ayuda del modelo de Machine learning entrenado para
                esta aplicacion, se determino que las siguientes patologias pueden estar presentes en una probabilidad mayor al 50%:
                </p>
                {% endif %}
                <ul>
                {% for i in pat_preds %}
                <li style="font-size: 18px;">{{ i }}</li>
                {% endfor %}
                </ul>
                <br/><hr><br/>
                <h3 class="text-center pb-3"><i class="mdi mdi-desktop-mac"></i>  PROBABILIDADES DE OCURRENCIA</h3>
                {% for i in pred_tuple %}
                <div class="row justify-content-around">
                    <div class="col-md-4">
                        <a href="{{ url_for('patologias') }}" class="pt-1" 
                        style="font-size: 18px; color:black">{{ i[0] }}</a>
                    </div>
                    <div class="col-md-3">
                        <p class="pt-1" style="font-size: 15px;">Probabilidad: {{ (100*i[1])|round(1) }}%</p>
                    </div>
                
                    {% if i[1] <= 0.25 %}
                    {% set barcolor = 'success' %}
                    {% elif i[1] <= 0.45 %}
                    {% set barcolor = 'info' %}
                    {% elif i[1] <= 0.5 %}
                    {% set barcolor = 'warning' %}
                    {% elif i[1] <= 0.6 %}
                    {% set barcolor = 'danger' %}
                    {% else %}
                    {% set barcolor = 'secondary' %}
                    {% endif %}
                    <div class="col-md-4">
                        <div class="progress pt-1" style="height: 25px;">
                            <div class="progress-bar  bg-{{ barcolor }} " 
                            role="progressbar" style="width: {{ 100*i[1] }}%" aria-valuenow="{{ 100*i[1] }}"
                                aria-valuemin="0" aria-valuemax="100">{{ (100*i[1] )|round(1) }}%</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <hr>
                {% for key, value in other_dict.items() %}
                <div class="row justify-content-around">
                    <div class="col-md-4">
                        <a href="{{ url_for('patologias') }}" class="pt-1" 
                        style="font-size: 18px; color:black">{{ key }}</a>
                    </div>
                    <div class="col-md-3">
                        <p class="pt-1" style="font-size: 15px;">Probabilidad: {{ (100*value)|round(1) }}%</p>
                    </div>

                    {% if value < 0.5 %}
                    {% set barcolor = 'primary' %}
                    {% else %}
                    {% set barcolor = 'success' %}
                    {% endif %}
                    <div class="col-md-4">
                        <div class="progress pt-1" style="height: 25px;">
                            <div class="progress-bar progress-bar-striped bg-{{ barcolor }} progress-bar-animated" 
                            role="progressbar" style="width: {{ 100*value}}%" aria-valuenow="{{ 100*value }}"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <br/><hr><br/>
                <h3 class="text-center py-2"><i class="mdi mdi-alert-circle"></i>  PATOLOGIAS A TENER EN CUENTA</h3>
                <p style="font-size: 20px;">{{ war_preds }}</p>
                {% endif %}
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Email campaign chart -->
        <!-- ============================================================== -->

    </div>

    {% endblock %}

    {% block script %}
    <script>
        $('#file1').on('change', function () {
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
    <script>
        $('#file1').on('change', function () {
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

            if (/^image/.test(files[0].type)) { // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file

                reader.onloadend = function () { // set image data as background of div
                    $('#image1').attr('src', reader.result).removeClass('default')
                }
            }
        });
    </script>
    <style>
        ol {
            padding: 0;
        }
    </style>

    {% endblock %}