{% extends '/dashboard/base_dashboard.html' %}

<title>{% block title %}{% endblock %}</title>

{% block container %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Perfil</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Email campaign chart -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="m-t-30"> <img src="/static/dashboard/images/users/{{ data_user['avatar'] }}" class="rounded-circle"
                            width="150" />
                        <h4 class="card-title m-t-10">{{ data_user['nombre'] | upper }}</h4>
                        {% if data_user['profesion'] == 'NA' %}
                        <h6 class="card-subtitle">Profesión</h6>
                        {% else %}
                        <h6 class="card-subtitle">{{ data_user['profesion'] }}</h6>
                        {% endif %}
                        {% if data_user['especialidad'] == 'NA' %}
                        <h6 class="card-subtitle">Especialidad</h6>
                        {% else %}
                        <h6 class="card-subtitle">{{ data_user['especialidad'] }}</h6>
                        {% endif %}
                        </br>
                        <div class="row text-center justify-content-md-center">
                            <div class="col-4">
                                <p>Consultas Totales</p>
                                <a href="javascript:void(0)" class="link"><i class="icon-people"></i>
                                <font class="font-medium">{{ data_user['consultas_totales'] }}</font></a>
                            </div>
                            <div class="col-4">
                                <p>Consultas Restantes</p>
                                <a href="javascript:void(0)" class="link"><i class="icon-picture"></i>
                                <font class="font-medium">{{ data_user['consultas_xusar'] }}</font></a>
                            </div>
                        </div>
                    </center>
                </div>
                <div>
                    <hr>
                </div>
                <div class="card-body"> 
                    <small class="text-muted">Correo Electronico </small>
                    <h6>{{ data_user['email'] }}</h6> 
                    <small class="text-muted p-t-30 db">Telefono</small>
                    <h6>{{ data_user['telefono'] }}</h6> 
                    <small class="text-muted p-t-30 db">Ciudad</small>
                    <h6>{{ data_user['ciudad'] }}</h6>
                    <div class="map-box">
                        {% if data_user['profesion'] == 'NA' %}
                        <iframe
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJbdeKppjFQ8WblXfYBYVPzFfVw6lFk0o&q=Bogota"
                            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        {% else %}
                        <iframe
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJbdeKppjFQ8WblXfYBYVPzFfVw6lFk0o&q={{ data_user['ciudad'] }}"
                            width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        {% endif %}
                    </div> <small class="text-muted p-t-30 db">Redes Sociales - Datapulse</small>
                    <br />
                    <a href="https://www.facebook.com/datapulseopt" target="_blank">
                        <button class="btn btn-circle btn-primary"><i class="mdi mdi-facebook"></i></button>
                    </a>
                    <a href="https://twitter.com/DatapulseSas" target="_blank">
                        <button class="btn btn-circle btn-secondary"><i class="mdi mdi-twitter"></i></button>
                    </a>
                    <a href="https://www.linkedin.com/company/datapulsesas" target="_blank">
                        <button class="btn btn-circle btn-success"><i class="mdi mdi-linkedin"></i></button>
                    </a>
                    <a href="https://www.instagram.com/datapulse_opt" target="_blank">
                        <button class="btn btn-circle btn-danger"><i class="mdi mdi-instagram"></i></button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material" method="POST" action="{{ url_for('login_home') }}">
                        <h2>¿QUE ES IA.Med?</h2>
                        <p style="font-size:100%;" class="text-justify"> IA.Med es una plataforma tecnológica cuya principal función es servir como
                        herramienta para la toma de decisiones en diagnósticos médicos. Con ayuda de herramientas de Inteligencia 
                        Artificial, IA.Med puede hacer predicciones en medicina para el diagnóstico temprano de diversas patologías 
                        médicas. Estas predicciones se hacen en mucho menor tiempo y con grados de precisión y exactitud comparable 
                        a los mejores profesionales del sector salud.</p> </br>
                        <div class="form-group">
                            <label class="col-md-12">Nombre</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Modifica tu nombre" class="form-control form-control-line" name="new_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Correo Electronico</label>
                            <div class="col-md-12">
                                <input type="email" placeholder="Modifica tu correo electronico"
                                    class="form-control form-control-line" name="new_email" id="example-email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Telefono</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Modifica tu telefono" class="form-control form-control-line" name="new_phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Ciudad</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Modifica tu ciudad" class="form-control form-control-line" name="new_city">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Profesión</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Modifica tu profesión" class="form-control form-control-line" name="new_job">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Especialidad</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Modifica tu especialidad" class="form-control form-control-line" name="new_spe">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success" type="submit">Modificar perfil</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- ============================================================== -->
    <!-- Email campaign chart -->
    <!-- ============================================================== -->

</div>

{% endblock %}